body {
  font-family: $main-font;
}

.button {
  font-family: $main-font;
  &:hover, &:active {
    color: darken($cleverr-main, 5);
  }
}

.scroll-content {
  margin-top: 40px;
}

.home-view .scroll-content {
  margin-top: 0; // Hack cuz im lazy to fix the actual problem
}

.button:disabled {
  background: #ccc !important;
}
