/******************************************************************************
 *  Main Colors
 *****************************************************************************/

$cleverr-main: #00BF90;
$cleverr-white: #FFFFFF;
$cleverr-error: #FF6D6B;


/******************************************************************************
 *  External Colors
 *****************************************************************************/

$facebook-blue: #44619D;

/******************************************************************************
 *  Override Ionic Colors
 *****************************************************************************/

/* stable */
$stable: $cleverr-main !default;
$button-stable-text:              $cleverr-white !default;
$button-stable-active-bg:         darken($cleverr-main, 10%) !default;

/* positive */
$positive: $facebook-blue;
