ul.swing-stack {
  display: block;
  height: 300px;
  position: relative;
}

li.swing-card {
  font-family: 'Raleway', sans-serif;

  position: absolute;
  margin-top: 30px;
  width: 100%;
  height: auto;
  min-height: 300px;
  padding: 20px;
  border: #E2E1E1 1px solid;
  background-color: $cleverr-grey;
  box-shadow: -5px 6px 6px -9px #666666;
  border-radius: 3px;
  pointer-events: none;
  &.second {
    transform: rotate(5deg);
  }
  &.third {
    transform: rotate(3deg);
  }
  &.first {
    pointer-events: auto;
    transition: all 0.1s linear;
  }
  &.active {
    transition: none !important;
  }
  &.flyingLeft {
    -webkit-animation-name: flyOffScreenLeft;
    -webkit-animation-duration: 1.5s;
    -webkit-transition-timing-function: steps;
  }
  &.flyingRight {
    -webkit-animation-name: flyOffScreenRight;
    -webkit-animation-duration: 1.5s;
    -webkit-transition-timing-function: steps;
  }
}

.swing-stack-empty {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
  font-family: 'Raleway', sans-serif;
  > .ion-android-sync {
    font-size:100px;
    color: #CECECE;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transition-timing-function: steps;
    z-index: -1;
  }
}

.idea-intro {
  font-size: 13px;
}

.idea-content {
  margin-top: 5px;
  font-size: 1.38em;
  line-height: 1;
}

// Animation

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@-webkit-keyframes flyOffScreenLeft {
  from {
    -webkit-transform: rotate(0deg) translateX(0px);
  }
  to {
    -webkit-transform: rotate(-20deg) translateX(-900px);
  }
}

@-webkit-keyframes flyOffScreenRight {
  from {
    -webkit-transform: rotate(0deg) translateX(0px);
  }
  to {
    -webkit-transform: rotate(-20deg) translateX(900px);
  }
}
