.cleverr-home-brand {
  height: calc(100vh - 35%);
  padding-top: 80px;
}

.cleverr-home-logo {
    width: 100%;
    text-align: center;
}

.cleverr-background-hook {
  position: relative;
}

.cleverr-background-container {
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 300px;
  width: 100%;
}

.cleverr-background-color {
  background: url("/img/background.jpg") no-repeat center center;
  background-size: cover;
  background-position-x: 90%;
  background-color: #696969;
  background-blend-mode: multiply;
}

.button-twitter {
  background-color: $twitter-blue;
}
