.cleverr-home-brand {
  height: calc(100vh - 35%);
  padding-top: 80px;
}

.cleverr-home-logo {
    width: 100%;
    text-align: center;
}

.cleverr-background-hook {
  position: relative;
}

.cleverr-background-container {
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-size: contain;
  height: 300px;
  width: 100%;
  &.bg-1 {
    background: url(/img/darth_maul.png) no-repeat center;
  }
  &.bg-2 {
    background: url(/img/dr_evil.png) no-repeat center;
  }
  &.bg-3 {
    background: url(/img/wizard.png) no-repeat center;
  }
  &.bg-4 {
    background: url(/img/look_up_4.png) no-repeat center;
  }
}
.cleverr-background-color{
    background-color:#222;
}